<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/status.css">
    <script src="/static/vendor/js/alpine-3.13.7.min.js" defer></script>
    <title>{{ .Title }}</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <a class="home-link" href="/">
                <h1 class="gradient-text">Hieda</h1>
            </a>
        </header>
        <main class="main">
            <h2 class="page-title">{{ .Title }}</h2>
            {{ range .Statuses }}
            <div class="service-status-card" x-data="{ open: false }">
                <div class="service-status-summary">
                    <h3>{{ .Name }}</h3>
                    <button
                        class="button-show-status-details"
                        data-status="{{ .Status }}"
                        x-on:click="open = ! open"
                    >{{ .Status }} <span x-text="open ? '(hide)' : '(expand)'"></span></button>
                </div>
                <code class="service-status-details" x-show="open">
                    <p><b>Details:</b> {{ .Details }}</p>
                    <p><b>Internal address:</b> {{ .Addr }}</p>
                    <p><b>Timestamp:</b> {{ .Time }}</p>
                </code>
            </div>
            {{ end }}
        </main>
        <footer class="footer">
        </footer>
    </div>
</body>
</html>
