<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
    <title>Hieda</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <a class="home-link" href="/">
                <h1 class="gradient-text">Hieda</h1>
            </a>
        </header>
        <main class="main">
            <h1>Hieda</h1>
        </main>
        <footer class="footer">
        </footer>
    </div>
</body>
</html>
