.header {
    background: no-repeat center / cover url('/img/homepage-bg.png');
    padding: 128px 32px;
}

.title {
    font-size: xxx-large;
}

.headerContent {
    width: 90%;
    max-width: 600px;
}

.tagline {
    color: white;
    font-size: x-large;
}

.headerButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-block: 24px;
}

@media screen and (max-width: 650px) {
    .tagline {
        font-size: large;
    }

    .headerButtons {
        flex-direction: column;
        align-items: center;
    }
}
